<section class="section">
  <div class="section-container">
    
    <div class="dragable-items" cdkDropList [cdkDropListData]="elements">

      <div
        class="dragable-items__item"
        *ngFor="let el of elements"
        [ngSwitch]="el.type"
        cdkDrag
      >
        <div  *ngSwitchCase="'input'"  >
          Input
        </div>

        <div *ngSwitchCase="'textarea'"  >
          Textarea
        </div>

        <div *ngSwitchCase="'button'"  >
          Button
        </div>

        <div *ngSwitchCase="'checkbox'" >
          Checkbox
        </div>

        <div *ngSwitchCase="'select'"  >
          Select
        </div>
        
      </div>
    </div>
  </div>
</section>
