<section class="section">
  <div class="section-container">
    <div class="dragable-items" cdkDropList [cdkDropListData]="elements">
      <div
        class="dragable-items__item"
        *ngFor="let el of elements"
        [ngSwitch]="el.type"
      >
        <div *ngSwitchCase="'input'" cdkDrag>
          <input type="text" placeholder="input" />
        </div>

        <div *ngSwitchCase="'textarea'" cdkDrag>
          <textarea name="" id="" cols="30" rows="5"></textarea>
        </div>

        <div class="button" *ngSwitchCase="'button'" cdkDrag>
          <button>Button</button>
        </div>

        <div class="checkbox" *ngSwitchCase="'checkbox'" cdkDrag>
          <label for="checkbox">checkbox</label>
          <input type="checkbox" />
        </div>

        <select *ngSwitchCase="'select'" cdkDrag>
          <option>First option</option>
          <option>Second option</option>
          <option>Third option</option>
        </select>
      </div>
    </div>
  </div>
</section>
