<section class="section">
  <div cdk-accordion class="form-accordition">
    <cdk-accordion-item
      class="form-accordition__item"
      #accordionItem="cdkAccordionItem"
      role="button"
    >
      <div class="form-accordition__header" (click)="accordionItem.toggle()">
        <h2 class="header">Field Styling</h2>
        <mat-icon
          class="form-accordition__arrow-icon"
          *ngIf="!accordionItem.expanded"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon
          class="form-accordition__arrow-icon"
          *ngIf="accordionItem.expanded"
          >keyboard_arrow_up</mat-icon
        >
      </div>

      <div
        class="element-styling-container"
        [style.display]="accordionItem.expanded ? '' : 'none'"
      >
        <div
          *ngIf="selectedFormElement$ | async as el; else elementNotSelected"
        >
          <app-styling-section [element]="el"></app-styling-section>
        </div>
      </div>

      <ng-template #elementNotSelected>
        <h3>Select an item for customization</h3>
      </ng-template>
    </cdk-accordion-item>
  </div>
</section>
