@import "../../common/colors.scss";

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.element-styling-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 2px $secondary-color;
  border-radius: 5px;
  min-height: 500px;
  max-width: 250px;
  margin: 0 10px;
}
