<div>
  <form>
    <mat-form-field class="form-group__field">
      <mat-label for="formWidth">Form width</mat-label>
      <input
        matInput
        class="form-group__input"
        id="formWidth"
        name="formWidth"
        type="text"
      />
    </mat-form-field>
    <mat-form-field class="form-group__field">
      <mat-label for="formHeight">Form height</mat-label>
      <input
        matInput
        class="form-group__input"
        id="formHeight"
        name="formHeight"
        type="text"
      />
    </mat-form-field>

  </form>
</div>
