@import "../../../common/colors.scss";

.drop-area__element {
  margin-bottom: 10px;
}

.drop-area__input {
  padding: 12px 20px;
  box-sizing: border-box;
  outline: none;
}

.drop-area__button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  .drop-area__checkbox {
    margin-bottom: 5px;
  }
}

mat-form-field.mat-form-field {
  display: block;
}


.hideBottomBorder {
  border-bottom: transparent !important;
}

.hideTopBorder {
  border-top: transparent !important;
}

.hideLeftBorder {
  border-left: transparent !important;
}

.hideRightBorder {
  border-right: transparent !important;
}
