@import "../../../common/colors.scss";

.drop-area__element {
  margin-bottom: 10px;
}

.drop-area__input {
  padding: 12px 20px;
  border: 2px solid $primary-color;
  border-radius: 4px;
  box-sizing: border-box;
}

.drop-area__button {
  background-color: $primary-color;
  width: 100%;
  border: none;
  color: $font-primary;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition-duration: 0.4s;
  cursor: pointer;

  .drop-area__checkbox {
    margin-bottom: 5px;
  }
  // &:hover {
  //   background-color: $secondary-color;
  //   color: $font-secondary;
  // }
}

mat-form-field.mat-form-field {
  display: block;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

