<div class="drop-area__element" *ngIf="element.type === 'input'">
  <div class="custom-placeholder" *cdkDragPlaceholder></div>
  <input
    cdkDrag
    class="drop-area__input hideBottomBorder"
    placeholder="{{ element.placeholderText }}"
    [ngStyle]="{
      width: element.width,
      height: element.height,
      borderStyle: element.borderStyle,
      borderColor: element.borderColor,
      borderWidth: element.borderWidth,
      color: element.textColor,
      fontSize: element.fontSize,
      fontWeight: element.fontWeight
    }"
    [ngClass]="{
      hideBottomBorder: !element.borderControl?.borderBottom,
      hideTopBorder: !element.borderControl?.borderTop,
      hideLeftBorder: !element.borderControl?.borderLeft,
      hideRightBorder: !element.borderControl?.borderRight
    }"
    required="{{ element.isRequired }}"
  />
</div>

<div class="drop-area__element" *ngIf="element.type === 'textarea'">
  <textarea
    class="drop-area__input"
    placeholder="Placeholder text"
    placeholder="{{ element.placeholderText }}"
    [ngStyle]="{
      width: element.width,
      height: element.height,
      borderStyle: element.borderStyle,
      borderColor: element.borderColor,
      borderWidth: element.borderWidth,
      color: element.textColor,
      fontSize: element.fontSize,
      fontWeight: element.fontWeight
    }"
    [ngClass]="{
      hideBottomBorder: !element.borderControl?.borderBottom,
      hideTopBorder: !element.borderControl?.borderTop,
      hideLeftBorder: !element.borderControl?.borderLeft,
      hideRightBorder: !element.borderControl?.borderRight
    }"
    required="{{ element.isRequired }}"
    cdkDrag
  ></textarea>
</div>

<div class="drop-area__element" *ngIf="element.type === 'button'">
  <label for="button"></label>
  <button
    class="drop-area__button"
    id="button"
    name="button"
    [ngStyle]="{
      width: element.width,
      height: element.height,
      borderColor: element.borderColor,
      borderWidth: element.borderWidth,
      color: element.textColor,
      fontSize: element.fontSize,
      fontWeight: element.fontWeight,
      backgroundColor: element.backgroundColor
    }"
    [ngClass]="{
      hideBottomBorder: !element.borderControl?.borderBottom,
      hideTopBorder: !element.borderControl?.borderTop,
      hideLeftBorder: !element.borderControl?.borderLeft,
      hideRightBorder: !element.borderControl?.borderRight
    }"
    cdkDrag
  >
    Button
  </button>
</div>

<div class="drop-area__element" *ngIf="element.type === 'checkbox'">
  <mat-checkbox class="drop-area__checkbox" cdkDrag>Check me!</mat-checkbox>
</div>

<div class="drop-area__element" *ngIf="element.type === 'select'">
  <label for="select"></label>
  <select
    class="drop-area__input"
    id="select"
    name="select"
    cdkDrag
    [ngStyle]="{
      width: element.width,
      height: element.height,
      borderStyle: element.borderStyle,
      borderColor: element.borderColor,
      borderWidth: element.borderWidth,
      color: element.textColor,
      fontSize: element.fontSize,
      fontWeight: element.fontWeight
    }"
    [ngClass]="{
      hideBottomBorder: !element.borderControl?.borderBottom,
      hideTopBorder: !element.borderControl?.borderTop,
      hideLeftBorder: !element.borderControl?.borderLeft,
      hideRightBorder: !element.borderControl?.borderRight
    }"
  >
    <option value="one">First option</option>
    <option value="two">Second option</option>
  </select>
</div>
