<div class="drop-area__element" *ngIf="element.type === 'input'">
  <div class="custom-placeholder" *cdkDragPlaceholder></div>
  <input
    cdkDrag
    class="drop-area__input"
    placeholder="{{ element.placeholderText }}"
    [ngStyle]="{
      width: element.width,
      height: element.height,
      border: element.borderStyle,
      color: element.textColor
    }"
    required="{{ element.isRequired }}"
  />
</div>

<div class="drop-area__element" *ngIf="element.type === 'textarea'">
  <textarea
    class="drop-area__input"
    placeholder="Placeholder text"
    placeholder="{{ element.placeholderText }}"
    [ngStyle]="{
      width: element.width,
      height: element.height,
      border: element.borderStyle,
      color: element.textColor
    }"
    cdkDrag
  ></textarea>
</div>

<div class="drop-area__element" *ngIf="element.type === 'button'">
  <label for="button"></label>
  <button class="drop-area__button" id="button" name="button" cdkDrag>
    Button
  </button>
</div>

<div class="drop-area__element" *ngIf="element.type === 'checkbox'">
  <mat-checkbox class="drop-area__checkbox" cdkDrag>Check me!</mat-checkbox>
</div>

<div class="drop-area__element" *ngIf="element.type === 'select'">
  <label for="select"></label>
  <select class="drop-area__input" id="select" name="select" cdkDrag>
    <option value="one">First option</option>
    <option value="two">Second option</option>
  </select>
</div>


