@import "../../../common/colors.scss";

.drop-area__element {
  margin-bottom: 10px;
}

.drop-area__input {
  padding: 12px 20px;
  box-sizing: border-box;
  outline: none;
}

.drop-area__button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  .drop-area__checkbox {
    margin-bottom: 5px;
  }
}

.hideBottomBorder {
  border-bottom: transparent !important;
}

.hideTopBorder {
  border-top: transparent !important;
}

.hideLeftBorder {
  border-left: transparent !important;
}

.hideRightBorder {
  border-right: transparent !important;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms;
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms;
}

.placeholder {
  width: 200px;
  height: 200px;
  background-color: red;
}
