<section class="section">
  <div class="drop-area-container">
    <app-title></app-title>

    <div
      class="drop-area"
      cdkDropList
      [cdkDropListData]="formElements$"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="drop-area__list"
        *ngFor="let el of formElements$ | async"
        (click)="onElementClick(el)"
        cdkDrag
      >
        <div class="drag-placeholder" *cdkDragPlaceholder></div>
        <app-form-element [element]="el"></app-form-element>
      </div>
    </div>
  </div>
</section>
