@import "../../common/colors.scss";

.drop-area-container {
  padding: 50px 25px;

  .drop-area {
    border: dashed 2px $secondary-color;
    border-radius: 5px;
    min-height: 100px;

    box-sizing: border-box;
    padding: 10px 15px;

  }
}
