<div *ngIf="element.type === 'input' || element.type === 'textarea'">
  <input
    [ngModel]="element.placeholderText"
    class="input"
    name="placeholderInput"
    type="text"
    (blur)="handlePlaceholderInputBlur($event, element.id)"
    #textInput
  />

  <input
    class="input"
    id="width"
    type="text"
    [ngModel]="element.width"
    (blur)="handleWidthInputBlur($event, element.id)"
    placeholder="width"
  />

  <input
    class="input"
    id="height"
    type="text"
    placeholder="height"
    [ngModel]="element.height"
    (blur)="handleHeightInputBlur($event, element.id)"
  />

  <div class="checkbox">
    <label for="required">Is required</label>
    <input
      type="checkbox"
      id="required"
      placeholder="checkbox"
      (change)="handleCheckboxChange($event, element.id)"
    />
  </div>

  <div>
    <label for="select">Border style</label>
    <select
      class="input"
      id="select"
      name="select"
      (change)="onBorderSelection($event, element.id)"
    >
      <option value="solid">Solid</option>
      <option value="dashed">Dashed</option>
      <option value="dotted">Dotted</option>
      <option value="double">Double</option>
    </select>

    <input
      class="input"
      type="text"
      placeholder="border width"
      [ngModel]="element.borderWidth"
      (blur)="handleBorderWidthInput($event, element.id)"
    />
  </div>

  <input
    class="input"
    id="font-size"
    type="text"
    [ngModel]="element.fontSize"
    placeholder="font size"
    (blur)="handleFontSizeInputBlur($event, element.id)"
  />

  <div>
    <label for="select">Font weight</label>
    <select
      class="input"
      id="select"
      name="select"
      (change)="handleFontWeightChange($event, element.id)"
    >
      <option value="200">200</option>
      <option value="400">400</option>
      <option value="600">600</option>
      <option value="800">800</option>
      <option value="1000">1000</option>
    </select>
  </div>

  <div>
    <label for="borderColor">Border Color</label>
    <input
      name="borderColor"
      [ngModel]="element.borderColor"
      class="color"
      type="color"
      (ngModelChange)="handleBorderColorInput($event, element.id)"
    />
  </div>

  <div>
    <label>Text Color</label>
    <input
      [ngModel]="element.textColor"
      class="color"
      id="color"
      type="color"
      (ngModelChange)="handleTextColorInput($event, element.id)"
    />
  </div>
</div>
