<div *ngIf="element.type === 'input'">
  <input
    [ngModel]="element.placeholderText"
    class="input"
    name="placeholderInput"
    type="text"
    (blur)="handlePlaceholderInputBlur($event, element.id)"
    #textInput
  />

  <input
    class="input"
    id="width"
    type="text"
    [ngModel]="element.width"
    (blur)="handleWidthInputBlur($event, element.id)"
    placeholder="width"
  />

  <input
    class="input"
    id="height"
    type="text"
    placeholder="height"
    [ngModel]="element.height"
    (blur)="handleHeightInputBlur($event, element.id)"
  />

  <div class="checkbox">
    <label for="required">Is required</label>
    <input
      type="checkbox"
      id="required"
      placeholder="checkbox"
      (change)="handleCheckboxChange($event, element.id)"
    />
  </div>

  <div>
    <label for="select">Border style</label>
    <select
      class="input"
      id="select"
      name="select"
      (change)="onBorderSelection($event, element.id)"
    >
      <option value="solid">Solid</option>
      <option value="dashed">Dashed</option>
      <option value="dotted">Dotted</option>
      <option value="double">Double</option>
    </select>
  </div>

  <!-- <input
      class="input"
      id="font-size"
      type="text"
      value=""
      placeholder="font size"
      (blur)="handleFontSizeInputBlur($event, element.id)"
    /> -->

  <!-- <div>
    <label for="select">Font weight</label>
    <select class="input" id="select" name="select">
      <option value="one">Solid</option>
      <option value="two">Dashed</option>
    </select>
  </div> -->
  <input
    [ngModel]="element.textColor"
    class="color"
    id="color"
    type="color"
    (ngModelChange)="handleTextColorInput($event, element.id)"
  />
</div>


<div *ngIf="element.type === 'textarea'">
  <input
    [ngModel]="element.placeholderText"
    class="input"
    name="placeholderInput"
    type="text"
    (blur)="handlePlaceholderInputBlur($event, element.id)"
    #textInput
  />

  <input
    class="input"
    id="width"
    type="text"
    [ngModel]="element.width"
    (blur)="handleWidthInputBlur($event, element.id)"
    placeholder="width"
  />

  <input
    class="input"
    id="height"
    type="text"
    placeholder="height"
    [ngModel]="element.height"
    (blur)="handleHeightInputBlur($event, element.id)"
  />

  <div class="checkbox">
    <label for="required">Is required</label>
    <input
      type="checkbox"
      id="required"
      placeholder="checkbox"
      (change)="handleCheckboxChange($event, element.id)"
    />
  </div>

  <div>
    <label for="select">Border style</label>
    <select
      class="input"
      id="select"
      name="select"
      (change)="onBorderSelection($event, element.id)"
    >
      <option value="solid">Solid</option>
      <option value="dashed">Dashed</option>
      <option value="dotted">Dotted</option>
      <option value="double">Double</option>
    </select>
  </div>

  <!-- <input
      class="input"
      id="font-size"
      type="text"
      value=""
      placeholder="font size"
      (blur)="handleFontSizeInputBlur($event, element.id)"
    /> -->

  <!-- <div>
    <label for="select">Font weight</label>
    <select class="input" id="select" name="select">
      <option value="one">Solid</option>
      <option value="two">Dashed</option>
    </select>
  </div> -->
  <input
    [ngModel]="element.textColor"
    class="color"
    id="color"
    type="color"
    (ngModelChange)="handleTextColorInput($event, element.id)"
  />
</div>
